* {
    box-sizing:border-box;
}

body {
    background-color:rgb(213,225,239);
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 15.75px;
}

.wd-main {
    background-color:white;
    width:230px;
    height:390px;
    border-radius:9.375px;
}

.wd-img {
    display:flex;
    justify-content:center;
    align-items:center;
}

.img-class {
    margin:10px;
    width:220px;
    height:203px;
    border-radius: 9.375px;
    display: block;
}

#content-1 {
    font-weight:bolder;
    display:flex;
    justify-content: center;
    align-items:center;
}

.wd-content {
    text-align: center;
    padding: 0 22px;
}

#content-2 {
    color: grey;
    font-size:11.25px;
}